.inline-block{
    display: inline-block !important
} 
.width-50{
    width: 80% !important;
} 
.marginleft-30{
    margin-left: 30px !important;
}
.form-float-right{
    float: right !important;
}
.main-option .form-group label{
    width: 20%;
}
.main-option .form-group {
    display: flex;
    align-items: center;
}
.main-option{
    margin-left: 0px;
}